@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #08111B;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;

}

.searchArea {
    background-color: #000;
    width: 220px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    margin-left: 5px;
}

.categories {
    margin-top: 10px;
}

.categories ul {
    padding: 0;
    display: flex;
    margin-top: 2rem;
}

.categories li {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
}

.fa-magnifying-glass {
    cursor: pointer;
}

.iconsBg {
    background-color: #19232F;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.iconsBg:hover {
    background-color: #404954;
}


.categories span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.browseContainer {
    width: 375px;
    margin-top: 5rem;
    border: 1px solid gray;
    border-radius: 10px;
    height: auto;
    padding: 10px;
}

.pcastText {
    width: 200px;
    height: 70px;
}

.pcastText span{
    margin-left: 4.5rem;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
}

#searchResult {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}


.box1 {
    width: 50px;
    height: 50px;
    background-color: rgba(19,40,85, 0.7);
    position: absolute;
    border-radius: 18px;
    opacity: 0.9;
}

.box2 {
    width: 50px;
    height: 50px;
    background: -webkit-linear-gradient(to bottom, #9733EE, #DA22FF);
    background: linear-gradient(to bottom, #9733EE, #DA22FF);
    position: absolute;
    transform: rotate(50deg);
    border-radius: 18px;
    left: 3px;
    top: 3px;
    opacity: 0.6;
}

.box3 {
    width: 50px;
    height: 50px;
    background-color: #461A28;
    border-radius: 18px;
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: -1;
}

.boxes {
    position: relative;
}

.boxes .fa-microphone-lines {
    font-size: 30px;
    transform: rotate(15deg);
    position: absolute;
    top: 13px;
    left: 17px;
}

.podcastList li {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 309px;
    height: 180px;
    padding: 15px;
    justify-content: space-between;
    margin-top: 20px;
}

.podcastList ul {
    margin: 0;
    padding: 0;

}

.podcastList h1 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.podcastList li a {
    background-color: #FF334B;
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.date {
    color: #898F97;
    font-size: 13px;
}

.bottomHolder {
    flex-direction: column;
    display: flex;
    margin-bottom: 10px;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    margin-right: 5px;
}